<div class="block-education block">
    <div class="container">

        <h1 class="block__heading">Education</h1>

        <div class="grid grid-1x3">
            <div class="education__info">
                <h3 class="block__heading">B.Tech</h3>
                <p>College : Galgotias College of Engineering</p>
                <p>Year : 2018-2022</p>
                <p>Branch : Mechanical Engineering</p>
            </div>
            <div class="education__info">
                <h3 class="block__heading">12th Class</h3>
                <p>School: Rosy Public School</p>
                <p>Year : 2017</p>
            </div>
            <div class="education__info">
                <h3 class="block__heading">10th Class</h3>
                <p>School: Rosy Public School</p>
                <p>Year : 2015</p>
            </div>
        </div>

    </div>

</div>