<section class="block-contact">
    <div class="container block-transparent">
        <ul class="contact__list">
            <li><svg class="icon">
                    <use xlink:href="icons/sprite.svg#gmail"></use>
                </svg> : rahulkumar17082000@<span>gmail.com</span>
            </li>

            <li><svg class="icon">
                    <use xlink:href="icons/sprite.svg#whatsapp"></use>
                </svg>: 9696163400
            </li>
            <li><svg class="icon">
                    <use xlink:href="icons/sprite.svg#linkedin"></use>
                </svg>: </li>
            <li><svg class="icon">
                    <use xlink:href="icons/sprite.svg#github"></use>
                </svg> : github.com/RK4021</li>

        </ul>

    </div>
</section>