<section class="project-block block ">
    <div class="container ">
        <h2 class="block__heading">Projects</h3>
            <div class="project__container grid grid-1x2 main-project">
                <picture class="project__image__block">
                    <img src="/Images/pexels-jovydas-pinkevicius-3113541.jpg" alt="" class="project__image">
                </picture>
                <div>
                    <h3>Online Portfolio</h3>
                    <p>An online portfolio (may also be called a digital portfolio or e-portfolio) is an online
                        representation of work you have created, as well as your skills and experiences. </p>
                    <p>I made the design of the website on my own and to implement all the designs I used <spam>HTML
                        </spam> and
                        <spam>CSS</spam>. I used <spam>Java Script</spam> as well to add animations.
                    </p>
                </div>
            </div>
            <div class="project__container grid grid-1x2">
                <picture class="project__image__block">
                    <img src="/Images/pexels-jovydas-pinkevicius-3113541.jpg" alt="" class="project__image">
                </picture>
                <div>
                    <h3>Domain Provider Website</h3>
                    <p>This is the first website that I made while learning <spam>HTML</spam> and <spam>CSS</spam>.
                        In this project I tried to
                        cover all the topics
                        which are very important to make a appealing website.
                    </p>

                    <p>With the help of this project I got to know the concept of <spam>Flex</spam> and <spam>Grid
                        </spam> very well.</p>
                </div>
            </div>
            <div class="project__container grid grid-1x2">
                <picture class="project__image__block">
                    <img src="/Images/pexels-jovydas-pinkevicius-3113541.jpg" alt="" class="project__image">
                </picture>
                <div>
                    <h3>Bank Management Project</h3>
                    <p>This project is console based and uses classes and file handling features of <spam>C++</spam>
                        . Here the
                        user can perform all
                        the tasks like creating an account, depositing the amount, withdrawing the amount, checking
                        the balance, viewing all account holder details, closing an account, and modifying an
                        account.
                    </p>
                </div>
            </div>

    </div>
</section>